%p#notice= notice

.row
  .col-md-6
    .element-container
      #sector_chart(style="width:100%; height:400px;")
  .col-md-6
    .element-container
      %h1 Sectors
      %hr
      %table.table
        %thead
          %tr
            %th Name
            %th{:colspan => "3"}
        %tbody
          - @sectors.each do |sector|
            %tr
              %td= sector.name
              %td= link_to 'Show', sector
              %td= link_to 'Edit', edit_sector_path(sector)
